<ion-header>
  <ion-toolbar>
    <ion-title>markers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card id="infoCard" #infoCard>
      <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
  <ogmp-map-view
    id="mapCanvas"
    #mapCanvas>

    <ogmp-info-window #infoWnd></ogmp-info-window>

    <ng-template ngFor let-item [ngForOf]="stores | keyvalue">
      <ogmp-marker
        (click)="onMarkerSelect($event)"
        position="{{item.value.position.lat}},{{item.value.position.lng}}"
        class="{{item.value.cssClass}}"
        id="{{item.key}}"
        ></ogmp-marker>
    </ng-template>

  </ogmp-map-view>
</ion-content>
