<ion-header>
  <ion-toolbar>
    <ion-title>coordinate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="container">
  <div id="mapViewWrapper">
    <ogmp-map-view
      id="mapCanvas"
      jsMapId="283fb0722209eb1e"
      #mapCanvas>

        <ogmp-info-window #infoOrigin content="drag me"></ogmp-info-window>
        <ogmp-info-window #infoDest content="drag me"></ogmp-info-window>

        <ogmp-marker #origin class="origin draggable"></ogmp-marker>
        <ogmp-marker #destination class="destination draggable"></ogmp-marker>



    </ogmp-map-view>

    <div id="playground" #playGround>
      <div class="circle red"></div>
      <div class="circle blue"></div>
      <div class="circle green"></div>

    </div>
  </div>

</ion-content>
