<div class="wrapper">
  <div class="name">{{ name }}</div>
  <div class="stars" style="--rating: {{ stars }};"></div>
  <div class="price">{{ price }}</div>
  <div class="services">
    <div><ion-icon name="wifi-outline"></ion-icon>Free Wifi</div>
    <div><ion-icon name="shirt-outline"></ion-icon>Laundry</div>
    <div><ion-icon name="restaurant-outline"></ion-icon>Restaurant</div>
  </div>
  <div class="pictures">
    <img src="assets/hotel/img1.jpg">
    <img src="assets/hotel/img2.png">
    <img src="assets/hotel/img3.jpg">
  </div>
</div>
