<ion-header>
  <ion-toolbar>
    <ion-title>NoMap</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Open Google Maps Plugin for Java script / Cordova / Capacitor</h1>
<p>This plugin displays Google Maps view inside your website, Apache Cordova and Capacitor hybrid application platforms.
  Just one code works on all platforms.
  This plugin uses the Google Maps JavaScript version 3 when you run this library on website,
  but if you use this library inside your Android application, this plugin uses the Google Maps SDK for Android.
  If iOS, this plugin uses the Google Maps SDK for iOS.

  It means you write only one code, but it works inside website, android app, and iOS app.
</p>
</ion-content>
