ion-content {
  --overflow: hidden;
}
#container {
  margin-top: 56px;
  height: 100%;
  position: relative;

  strong {
    font-size: 20px;
    line-height: 26px;
  }

  p {
    font-size: 16px;
    line-height: 22px;

    color: #8c8c8c;

    margin: 0;
  }

  a {
    text-decoration: none;
  }

  #mapCanvas {
    position: relative;
    left: 0px;
    right: 0px;
    height: calc(50% - 56px);
  }
}




.cafe {
  --icon: url("/assets/coffee-cup.svg");
  --anchor-point-x: 0.5;
  --anchor-point-y: 0.2;
}

.night_mode {
  background-color: rgb(57,57,57);
  color: white;
  border-color: #2c2c2c;
  border-radius: 10px;
}

ogmp-info-window {
  text-align: center;

  section {
    display: flex;
    max-width: 400px;
    text-align: left;
    padding: 10px;
  }
}

markdown {
  color: white;
}
