ion-content {
  --overflow: hidden;
}
#container {
  text-align: center;
  display: flex;
  flex-direction: row;
  margin-top: 56px;
  height: 100%;
  position: relative;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#list {
  width: 300px;
  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#mapCanvas {
  position: absolute;
  left: 0px;
  right: 0px;
  height: calc(100% - 56px);
}

#toolbar {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  user-select: none;
}

.something {
  background-color: green;
  width:80%;
  height: 300px;
}

.clickable {
  --clickable: true;
}

.draggable {
  --draggable: true;
}
.hide {
  --visible: false;
}
.car {
  --icon: url("/assets/beer.png");
}

.cafe {
  --icon: url("/assets/coffee-cup.svg");
  --anchor-point-x: 0.5;
  --anchor-point-y: 0.2;
}

.bar {
  --icon: url("/assets/beer.png");
}

.custom_icon {
  --icon: url("/assets/custom_icon.png");
  --anchor-point-x: 0.21;
  --anchor-point-y: 0.96;
  --info-anchor-point-x: 0.83;
  --info-anchor-point-y: 0.08;
}
.active_info {
  background-color: gold;
  color: white;
  border-color: red;
  border-radius: 10px;
}
.greenIcon {
  --icon: green;
}
