#container {
  text-align: center;
  display: flex;
  flex-direction: row;
  margin-top: 56px;
  height: 100%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#list {
  width: 300px;
  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#mapCanvas {
  width: 100%;
  height: 100%;
  flex: 0 0 100%;
}

.something {
  background-color: green;
  width:80%;
  height: 300px;
}

.clickable {
  --clickable: true;
}

.draggable {
  --draggable: true;
}
.car {
  --icon: url("https://www.iconninja.com/files/114/190/511/car-vehicle-citroen-icon.svg");
}

.cafe {
  --icon: url("/assets/coffee-cup.svg");
  --anchorPointX: 0.5;
  --anchorPointY: 0.2;
}

.bar {
  --icon: url("/assets/beer.png");
}
