<ion-content [fullscreen]="true">
  <div id="container">
    <div class="something"></div>
    <ogmp-map-view
      id="mapCanvas"
      #mapCanvas
      lat="43.0741704" lng="-89.3809802" zoom="14"
      mapType="terrian"
      (mapclick)="onMapClick($event)"
      (mapdrag)="onMapDrag()">
    </ogmp-map-view>
    <ion-button color="primary" (click)="onButtonClick()">Add</ion-button>
    <div id="list">
      <ion-list>
        <ion-item *ngFor="let item of list">
          <ion-label (click)="onListItemClick(item)" class="noselect pointerCursor">{{ item.label }}</ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div class="something"></div>
  </div>
</ion-content>
