<ion-header>
  <ion-toolbar>
    <ion-title>InfoWindow</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ogmp-map-view
    id="mapCanvas"
    jsMapId="283fb0722209eb1e"
    #mapCanvas
    mapType="roadmap">

    <ng-template ngFor let-item [ngForOf]="hotels | keyvalue">
      <ogmp-marker
        (click)="onMarkerSelect($event, item.value)"
        position="{{item.value.position.lat}},{{item.value.position.lng}}"
        ></ogmp-marker>
    </ng-template>

  </ogmp-map-view>
</ion-content>
